absl-py==2.3.1
alembic==1.16.5
appdirs==1.4.4
astunparse==1.6.3
audioread @ file:///Users/runner/miniforge3/conda-bld/audioread_1759429613576/work
beautifulsoup4 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_4910wm3bdc/croot/beautifulsoup4-split_1756453097265/work
blinker @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_11lor_igbs/croot/blinker_1737449046432/work
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_55txi4fy1u/croot/bottleneck_1731058642212/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
brotlicffi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b5py2dr5ag/croot/brotlicffi_1736182482518/work
catboost==1.2.8
certifi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_barck9k8fe/croot/certifi_1754570651396/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4xd9yd9i2/croot/cffi_1736182819442/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
clarabel==0.11.1
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2bwamfk1ra/croot/click_1754477943404/work
cmdstanpy==1.2.5
colorlog==6.9.0
contourpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cvjf0v4ux/croot/contourpy_1732540055997/work
cryptography @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b0jst6be2v/croot/cryptography_1753084599326/work
curl_cffi==0.11.3
cvxpy==1.6.6
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.1.3
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341237667/work
ecos==2.0.14
filelock==3.19.1
finance-datareader==0.9.96
finvizfinance==1.1.1
Flask @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_c5fr3f66m2/croot/flask_1756453130186/work
flask-cors @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7drb0zkge2/croot/flask-cors_1752860305793/work
flatbuffers==25.2.10
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1758793873838/work
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841362247/work
fsspec==2025.9.0
gast==0.6.0
google-pasta==0.2.0
graphviz==0.21
grpcio==1.74.0
h2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e5yw4y2j7_/croot/h2_1753368733498/work
h5py==3.14.0
holidays==0.76
hpack @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_49dnb5i1os/croot/hpack_1753281370013/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
hyperframe @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3f69_vhjap/croot/hyperframe_1753195716974/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_resources @ file:///opt/miniconda3/conda-bld/importlib_resources-suite_1759400760672/work
iniconfig==2.1.0
itsdangerous @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_00jdi1gu23/croot/itsdangerous_1716533346702/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///opt/miniconda3/conda-bld/joblib_1757926350176/work
keras==3.11.3
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cc2l_z_0ri/croot/kiwisolver_1737039586949/work
lazy_loader @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4fhv6eyhq/croot/lazy_loader_1718176742928/work
libclang==18.1.1
librosa @ file:///home/conda/feedstock_root/build_artifacts/librosa_1741797566785/work
lightgbm==4.6.0
llvmlite @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_65gge4ik41/croot/llvmlite_1741209865541/work
lxml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1cc0pw19wu/croot/lxml_1737040416995/work
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.6
mdurl==0.1.2
ml_dtypes==0.5.3
more-itertools==10.8.0
mpmath==1.3.0
msgpack @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0d73gp34a_/croot/msgpack-python_1750958625811/work
multitasking @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_0c9f29rgyg/croot/multitasking_1753189443743/work
namex==0.1.0
networkx==3.5
numba @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a6rxcl2vro/croot/numba_1750798183489/work
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_766kpwgy17/croot/numexpr_1755766476118/work
numpy==2.3.5
openai-whisper==20250625
opt_einsum==3.4.0
optree==0.17.0
optuna==4.5.0
osqp==1.0.4
packaging @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b31rpdx1of/croot/packaging_1753775365574/work
pandas @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_821z9jhn6_/croot/pandas_1756466408691/work/dist/pandas-2.3.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=87477a80a08931b44ffe6acf2e6a963675e46c5654825e08859919ae339c2223
patsy==1.0.1
peewee @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a6hj_mpkn2/croot/peewee_1753210335663/work
pillow @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_94x67n90dt/croot/pillow_1752524540258/work
platformdirs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4euggz8v1n/croot/platformdirs_1744273055841/work
plotly==5.24.1
pluggy==1.6.0
pmdarima==2.1.0
pooch @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fbg7zfvzw2/croot/pooch_1731008072062/work
prophet==1.1.7
protobuf==6.31.1
psutil==7.0.0
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496095146/work
Pygments==2.19.2
pyparsing @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_65qfw6vkxg/croot/pyparsing_1731445528142/work
pyportfolioopt==1.5.6
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699237568675/work
pytest==8.4.1
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
pytube @ file:///home/conda/feedstock_root/build_artifacts/pytube_1735634207008/work
pytubefix==8.13.1
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
PyYAML==6.0.2
regex==2025.9.1
requests @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ef59rwwti1/croot/requests_1756709671417/work
requests-file==3.0.1
resampy @ file:///home/conda/feedstock_root/build_artifacts/resampy_1735829929447/work
rich==14.1.0
scikit-learn @ file:///opt/miniconda3/conda-bld/scikit-learn_1758620846586/work
scipy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_cc_7w74fto/croot/scipy_1743153255057/work/dist/scipy-1.15.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=b9bc911f084173d5305a82fdec41b58219a08ddce84adf6bc94639c63b4ff820
scs==3.2.7.post2
setuptools==73.0.1
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
soundfile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1737836266465/work
soupsieve @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/soupsieve_1699282494776/work
soxr @ file:///Users/runner/miniforge3/conda-bld/soxr-python_1757597055366/work
SQLAlchemy==2.0.43
standard-aifc @ file:///Users/runner/miniforge3/conda-bld/standard-aifc_1751926393494/work
standard-sunau @ file:///Users/runner/miniforge3/conda-bld/standard-sunau_1751926567652/work
stanio==0.5.1
statsmodels==0.14.5
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
threadpoolctl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_efa5bvb6vi/croot/threadpoolctl_1719407806403/work
tiktoken==0.11.0
torch==2.8.0
tornado @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_63s3osc0_1/croot/tornado_1748956943583/work
tqdm==4.67.1
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
unicodedata2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b99hn8t9lq/croot/unicodedata2_1736541774279/work
urllib3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_95v32ztwo_/croot/urllib3_1750775480393/work
webencodings @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/webencodings_1699243630039/work
websockets==15.0.1
Werkzeug @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_87am5fxnsf/croot/werkzeug_1737448721856/work
wheel==0.45.1
wrapt==1.17.3
xgboost==3.0.4
yfinance==0.2.66
zstandard @ file:///opt/miniconda3/conda-bld/zstandard_1758189077286/work
